@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.title-reason {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

.catalog-item-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	color: #000000;
}

.catalog-header-title {
	font-size: 60px;
	line-height: 78px;
	color: #ffffff;
}

.title-filter {
	font-size: 20px;
	line-height: 26px;
	text-transform: capitalize;
	color: #ffffff;
}

.description {
	font-size: 22px;
	line-height: 26px;
}

.navigation-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;
}

.breadcrumbs {
	font-size: 16px;
}

.catalog-item-rating {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
}

.footer-tel {
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #000000;
}

.text-centered {
	text-align: center;
}


.button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
}

.button-accent {
	background-color: #82B3D3;
}

.button-selected {
	background-color: #7DB54F;
}

.button-large {
	font-size: 20px;
	line-height: 36px;
}

.button-trasparent {
	background-color: transparent;
}

.pagination-link-current {
	color: #000000;
	background-color: #F2F2F2;
}

.welcome {
	background: url("../images/backgrounds/welcome.jpg") no-repeat;
	background-size: 100% auto;
	background-color: #82B3D3;
	color: #ffffff;
}

.catalog-header {
	background: url("../images/backgrounds/filter.jpg") no-repeat;
	background-size: 100% auto;
	background-color: #82B3D3;
	color: #ffffff;
}

.newsletter-background {
	background: url("../images/backgrounds/newsletter.jpg") no-repeat;
	background-size: 100% auto;
	background-color: #82B3D3;
	color: #ffffff;
}

.newsletter-background .title {
	color: #ffffff;
}

ol.reason-list .reason-card-description {
	background-color: #82B3D3;
	color: #ffffff;
}

ol.reason-list .reason-card-description .title {
	color: #ffffff;
}

ol.reason-list > li:nth-child(3),
ol.reason-list > li:nth-child(5),
ul.reason-list > li:first-child,
ul.reason-list > li:last-child {
	background-color: rgba(131, 179, 211, 0.12);;
}

ol.reason-list > li:nth-child(4) {
	background-color: rgba(131, 179, 211, 0.2);;
}